body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    background-color: black;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

@keyframes image-pulse {
    0% {
        transform: scale(1);
        /* scaling to 0 */
    }

    80% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
        /* seeting back to initial size */
    }
}